<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./dist/output.css" rel="stylesheet" />
    <title>Tasks-List</title>
</head>

<body>
    <div id="app" class="flex flex-col justify-items-start items-center">
        <div class="text-center flex flex-col items-start">
            <label for="taskRoot" class="ml-4">Write your tasks Here</label>
            <div>
                <input id="taskRoot" v-model="newTask" type="text" class="rounded-lg w-[640px] bg-indigo-400 m-1 p-2" />
                <button v-if="isEditing == false" @click="addTask" class="bg-indigo-300 rounded-lg p-2">Add
                    Task</button>
                <button v-if="isEditing == true" @click="endEditingMode" class="bg-indigo-300 rounded-lg p-2">save
                    Editing</button>
            </div>

        </div>

        <!-- when you want to use v-for always create  (div >> Ul >> li) with the following  -->
        <div class="w-[640px] text-center p-2 m-1 ">

            <ul>
                <!-- as we see always take the 1)item 2)index    when use v-for  -->
                <li v-for="(task, index) in tasks" class="bg-indigo-100 rounded-lg p-1 m-1 mr-16">
                    <div class="justify-between flex p-1">
                        <span>{{task}}</span>
                        <div>
                            <button v-if="isEditing == false" @click="deleteTask(index)"
                                class="text-red-500 text-sm p-1 "> Delete </button>
                            <button @click="editTask(index)" class="text-green-600 text-sm p-1"> Edit </button>
                            <!-- when someone click on editTask there must be a sensor to be true and 
                            it indicates that the task item is in editing mode  -->
                        </div>

                    </div>
                </li>
            </ul>

        </div>
        <span>{{lastTask}}</span>
    </div>

    <!-- use CDN to uuse vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- code -->
    <script src="./script.js"></script>
</body>

</html>